body {
  background-image:url('orange.jpg');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 600px;
  height: 600px;
  display: grid;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgb(1, 7, 82);
  border-radius: 10px;
  background: rgb(1, 7, 82) ;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;;
}

.buttons {
  margin-top: 10px;
}

button {
  margin: 5px;
  border-radius: 2em;
  color: black;
  width: 90px;
  height: 30px;
  font-weight: bold;
  background-color: white;
  border: 2px solid white;
}

.randomButton {
  background: linear-gradient(0.25turn, red, yellow, blue);
}


#errorText {
  margin-top: 15px;
}
